<mat-card class="vt-card vt-center">
    <mat-card-header>
      <div mat-card-avatar class="vt-header-image">
        <mat-icon class="material-icons fa-2x">account_circle</mat-icon>
      </div>
      <mat-card-title><h3>New User</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
        <div class="row show-hide-message">
            <div [ngClass]="messageClass"> {{ message }} </div>
            <div *ngIf="usernameMessage" [ngClass]="messageClass">{{ usernameMessage }}</div>
            <!-- <div *ngIf="emailMessage" [ngClass]="messageClass">{{ emailMessage }}</div> -->
          </div>
        <form [formGroup]="form" (submit)="onRegisterSubmit()">

            <mat-form-field>
                <input matInput 
                placeholder="User Name" 
                name="username" 
                autocomplete="off" 
                formControlName="username" 
                (blur)="checkUsername()" required />
              </mat-form-field>
              <div *ngIf="!form.controls.username.valid && (form.controls.username.touched)">
                <mat-error class="mt-n15" *ngIf="form.controls.username.hasError('required')">User Name is required</mat-error>
              </div>

              <mat-form-field>
                <input matInput 
                placeholder="Email Address" 
                name="email" 
                autocomplete="off" 
                formControlName="email" 
                (blur)="checkEmail()" required />
              </mat-form-field>
              <div *ngIf="!form.controls.email.valid && (form.controls.email.touched)">
                <mat-error class="mt-n15" *ngIf="form.controls.email.hasError('required')">Email is required</mat-error>
              </div>
            

              <mat-form-field>
                <input matInput 
                placeholder="Password" 
                name="password" 
                autocomplete="off"
                type="password"
                formControlName="password" required />
              </mat-form-field>
              <div *ngIf="!form.controls.password.valid && (form.controls.password.touched)">
                <mat-error class="mt-n15" *ngIf="form.controls.password.hasError('required')">Password is required</mat-error>
              </div>
            

              <mat-form-field>
                <input matInput 
                placeholder="Confirm Password" 
                name="confirm" 
                autocomplete="off" 
                type="password"
                formControlName="confirm" required />
              </mat-form-field>
              <div *ngIf="!form.controls.confirm.valid && (form.controls.confirm.touched)">
                <mat-error class="mt-n15" *ngIf="form.controls.confirm.hasError('required')">Password is required</mat-error>
                <mat-error class="mt-n15" *ngIf="form.controls.confirm.hasError('matchingPasswords')">Mismach Password</mat-error>
              </div>

              <div layout="flex">
              <button mat-raised-button 
              class="vt-button-submit btn-full" 
              type="submit" 
              [disabled]="!form.valid || processing || !emailValid || !usernameValid" >{{registerButton}}</button>
              </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/login" class="btn-full">already Have account?</a>
    </mat-card-actions>
  </mat-card>