<ng-template [ngIf]="!employee">
<h2>About us</h2>
<ng-container *ngFor="let emp of employee">
<mat-card class="vt-card">
    <mat-card-header>
      <div mat-card-avatar class="vt-header-image"><img src="{{emp.profilePic}}"></div>
      <mat-card-title>{{emp.name}}</mat-card-title>
      <mat-card-subtitle>{{emp.designation}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{emp.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button class="vt-button-like"><i class="material-icons">thumb_up</i></button>
      <button mat-icon-button class="vt-button-dislike"><i class="material-icons">thumb_down</i></button>
    </mat-card-actions>
  </mat-card>
</ng-container>
</ng-template>

<mat-card class="vt-card">
    <mat-card-header>
        <mat-card-title>
        <h2>Register</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
<p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>
<form (submit)="register()">
  <div class="form-group">
    <label for="name">Full name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
  </div>
  <button type="submit" class="btn btn-default">Register!</button>
</form>
</mat-card-content>
</mat-card>
