/* layouts */
a:focus, 
a:hover, 
a:active{
    outline: none !important
}
.main-container{
    position: relative;
    padding: 0rem 1rem;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
/* custom Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;}


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(78, 28, 44, 0.582); 
    border-radius: 50px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(113, 71, 84); 
    cursor: pointer;
}
/* custom scrollbar */

/* angular material Customize */

/* graph */
.vt-display-block{
    min-height: 450px !important;
    max-height: 500px !important;
    display: block !important;}

.chart-legend div{
    min-width: 150px !important;}

/* mat navbar */
.vt-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;}
  
  .vt-is-mobile .vt-toolbar {
    position: fixed;
    z-index: 2;}

  h1.vt-app-name {
    margin-left: 8px;}
  
  .vt-sidenav-container {
    flex: 1;}

  .vt-is-mobile .vt-sidenav-container {
    flex: 1 0 auto;}

  .sp{flex: 1 0;}

/* ./mat navbar */

.mat-list, 
.mat-nav-list, 
.mat-selection-list{
    width: 200px;}

.mat-drawer.mat-drawer-side{
    background: #e1e8ef;}

.mat-list .mat-list-item, 
.mat-list .mat-list-option, 
.mat-nav-list .mat-list-item, 
.mat-nav-list .mat-list-option, 
.mat-selection-list .mat-list-item, 
.mat-selection-list .mat-list-option{
    display: block;
    height: 48px;}

.mat-toolbar.mat-primary {
    background: #748633;
    color: #fff;}

/* material Card */
.mat-card{
    margin: 1rem 1rem 1rem 0rem !important;}

.vt-card {
    max-width: 400px;
    margin: 1rem 1rem 1rem 0rem;}
    
.vt-header-image {
    background-size: cover;}

.vt-header-image img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: 0px 0px 9px 1px #aac71d;}
    
/* custom buttons */
.vt-button-submit, 
.vt-button-like{
    background: rgb(169, 211, 18);
    color: #fff !important;
}
.vt-button-like{
    background: rgb(169, 211, 18);
    color: #fff !important;
}
.vt-button-cancel, 
.vt-button-dislike{
    background: #98405d;
    color: #fff !important;
}
.vt-button-dislike{
    background: #98405d;
    color: #fff !important;
}

/* material input */

.mat-checkbox-checked.mat-accent .mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: #8cb7ce !important;}
  
.mat-ripple-element {
  background: rgba(117, 148, 6, .5) !important;}

.mat-radio-button.mat-accent .mat-radio-inner-circle
{
  background-color: #8cb7ce !important;}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #9bb1bc !important}