
<ng-template [ngIf]="!isEdit">
<h2>Customers List</h2>
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
          <ngx-datatable class="material fixed-header expandable"
          [rows]="contactList" 
          [columnMode]="'force'" 
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="70"
          [scrollbarH]="50"
          [selected]='selectedRowContact' 
          [selectionType]="'single'"
          (click)="clicktoEditContact($event,selectedRowContact)" 
          [limit]="3" >
              <ngx-datatable-column  
              [sortable]="true"
              [draggable]="false"
              [resizeable]="false"
              name="First Name"
              prop="first_name">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{(row.first_name === "" ? 'N/A' : row.first_name)}}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column  
              [sortable]="true"
              [draggable]="false"
              [resizeable]="false"
              name="Last Name"
              prop="last_name">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{(row.last_name === "" ? 'N/A' : row.last_name)}}
                  </ng-template>
              </ngx-datatable-column>
              
              <ngx-datatable-column  
              [sortable]="true"
              [draggable]="false"
              [resizeable]="false"
              name="Phone Number"
              prop="phone">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{(row.phone === "" ? 'N/A' : row.phone)}}
                  </ng-template>
              </ngx-datatable-column>
              
              <ngx-datatable-column  
              [sortable]="true"
              [draggable]="false"
              [resizeable]="false"
              name="Action">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <button mat-icon-button class="vt-button-dislike" (click)="deleteContact(row._id)"><i class="material-icons">delete</i></button>
                  </ng-template>
              </ngx-datatable-column>
              </ngx-datatable>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button class="vt-button-like" (click)="addnew()"><i class="material-icons">add_circle_outline</i></button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<!-- new Contact Form -->
<ng-template [ngIf]="isEdit">
    <mat-card class="vt-card">
      <mat-card-header>
        <h2>Add New Contact</h2>
      </mat-card-header>
      <mat-card-content>
        <form>
          
    <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="first_name" name="first_name" required>
      </mat-form-field>
      
    <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="last_name" name="last_name" required>
      </mat-form-field>
      
    <mat-form-field>
        <input matInput placeholder="Phone Number" 
        [(ngModel)]="phone" 
        name="phoneNumber" 
        pattern="[789][0-9]{9}"
        id="phoneNumber"
        #phoneNumber = "ngModel"
        minlength="10" maxlength="10" required>
      </mat-form-field>
      <div *ngIf="!phoneNumber.valid && (phoneNumber.touched)">
          <mat-error class="mt-n15" *ngIf="phoneNumber.hasError('required')">Mobile is required</mat-error>
          <mat-error class="mt-n15" *ngIf="phoneNumber.hasError('pattern')">Mobile number should be only numbers</mat-error>
        </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button class="vt-button-dislike" (click)="addContact()"><i class="material-icons">save</i></button>
        <button mat-icon-button class="vt-button-dislike" (click)="isEdit = !isEdit"><i class="material-icons">cancel</i></button>
      </mat-card-actions>
    </mat-card>

</ng-template>
