<mat-card class="vt-card vt-center">
    <mat-card-header>
      <div mat-card-avatar class="vt-header-image">
        <mat-icon class="material-icons fa-2x">lock_outline</mat-icon>
      </div>
      <mat-card-title><h3>Login</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="show-hide-message btn-full row">
          <div [ngClass]="messageClass"> {{ message }} </div>
        </div>
        <form [formGroup]="form" (submit)="onLoginSubmit()">
      <mat-form-field>
        <input matInput placeholder="User Name" type="text" name="username" formControlName="username" >
      </mat-form-field>
      <div *ngIf="!form.controls.username.valid && (form.controls.username.touched)">
        <mat-error class="mt-n15" *ngIf="form.controls.username.hasError('required')">email is required</mat-error>
      </div>
    
      <mat-form-field>
        <input matInput placeholder="Password" type="password" name="password" formControlName="password" >
      </mat-form-field>
      <div *ngIf="!form.controls.password.valid && (form.controls.password.touched)">
        <mat-error class="mt-n15" *ngIf="form.controls.password.hasError('required')">Password is required</mat-error>
      </div>

      
      <button mat-raised-button class="vt-button-submit btn-full" type="submit" [disabled]="!form.valid || processing" >{{loginButton}}</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/register" class="btn-full">New User?</a>
    </mat-card-actions>
  </mat-card>